


/*FONTS*/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap');



*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;  
    font-family: 'Roboto', sans-serif;
    color:#2C2D3C;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    color:#FFFFFF;

}
.container{
    margin: 0 auto;
    width: 1170px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/*.clearfix:after{
    clear: both;
    content: '';
    display: table;
}
*/

.d-flex{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flexbox;  
}

.wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}


.justify-between{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
}

/*.justify-end{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-flex-pack: end;
}*/

.align-items-center{
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
}

.align-items-start{
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
}

.two-column{
    flex: 0 0 49%;
    -webkit-flex: 0 0 49%;
    -moz-flex: 0 0 49%;
    -ms-flex:0 0 49%;
}

.three-column{
    flex: 0 0 30%;
    -webkit-flex: 0 0 30%;
    -moz-flex: 0 0 30%;
    -ms-flex:0 0 30%;
}

.four-column{
    flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    -ms-flex:0 0 25%;
}

/*HEADER STYLE*/

header {
    background-color: #EBB970;
    max-height: 7rem;
    position: relative;
    z-index: 1;
}

header .main-menu{
    list-style: none;
    padding: 0;
}

header .main-menu li{
    margin-left: 69px;
    width: 9rem;
    text-align: center;
}

header .main-menu li a{
    display: block;
    padding: 25px 0;
    color:#2C2D3C;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    transition:all 0.5s linear;
    position: relative;
}


header .main-menu li a:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2C2D3C;
    transition: all 0.5s linear;
    position: absolute;
    bottom:0px;
    left: 0px;
}


header .main-menu li a.active:before,
header .main-menu  li a:hover:before{
    width: 100%;
}

/*HOME section*/

.home{

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;  /* auto 100%*/
    height: 100vh;
    margin-top: -70px;
}


.home-content{
    padding-top:18rem; 
}
.h1home{
    padding: 4rem;
   
    width: 458px;
    background-color: #2C2D3C;
    color: #FFFFFF;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1.99px;
    line-height: 80px;
}
/*home end*/

/*about strart*/
.about{
    margin: 5rem 0;

}
.about-content{
    position: relative;
}
.about-title{
    color: #2C2D3C; 
    font-weight: bold;
    letter-spacing: 1.06px;
    line-height: 43px; 
    text-transform: uppercase;
    padding: 3rem 0 1rem 0;
}

section.about .about-content .about-title:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EBB970;
    transition: all 0.5s linear;
    position: absolute;
    top:8rem;
    left: 0px;
}
section.about .about-content .about-title.active:before,
section.about .about-content .about-title:hover:before{
    width: 9rem;
}

.p-about{
    text-align: justify;
    padding: 3rem 3rem 5rem 0;
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 26px;

}

.link-button{
    padding: 10px 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.6rem;
    letter-spacing: 0.82px;
    line-height: 2.6rem;
    text-align: center;
    background-color: #EBB970;
}

/*about end*/

/*service strart*/

.service-title{
    color: #2C2D3C;
    font-weight: bold;
    letter-spacing: 1.06px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;

}
.div-services{
    position: relative;
    margin-bottom: 8rem;
}
section.services .div-services .service-title:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EBB970;
    transition: all 0.5s linear;
    position: absolute;
    top:6rem;
    left: 46%;
}
section.services .div-services .service-title.active:before,
section.services .div-services .service-title:hover:before{
    width: 9rem;
}

.services-item{
    display: inline-block;
   
    background-color: #2C2D3C;
    box-shadow: 0 12px 13px 0 rgba(145,145,145,0.5);
    text-align: center;
    color: #FFFFFF;
    padding-top: 5rem; 
}

.a-services{
    height: 88px;
    width: 88px;
    background-color: #EBB970;
    border-radius: 50%;
    font-size: 4rem;
    text-align: center;
    padding-top:2rem; 
    color:white;  
}
article.services-item{
     display: inline-block;
     }

article.services-item:hover a.a-services{
  transform: scale(1.3) ;
}

.h3-service-title{
    padding-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}
.p-icon{
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding: 2rem 5rem;
    color: #FFFFFF;
    text-align: center;
}
.service-image{
    
    background-color: #EBB970;
    opacity: 0.5;
    margin-bottom: 6rem;
    
}
.info-services{
    color: #FFFFFF;
    text-align: center;
    
    padding: 14rem 0;   
}

.p-info-services{
    display:block;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    font-size: 50px;
    margin-bottom: 5rem;
    font-family: "Playfair Display";
}
.p2-info-services{
    display:block;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-transform: uppercase;
}
/*service  end*/

/*products  start*/

.products-title{
    color: #2C2D3C;
    font-weight: bold;
    letter-spacing: 1.06px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;

}
.div-products{
    position: relative;
    margin-bottom: 8rem;
}
section.products .div-products .products-title:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EBB970;
    transition: all 0.5s linear;
    position: absolute;
    top:6rem;
    left: 46%;
}
section.products .div-products .products-title.active:before,
section.products .div-products .products-title:hover:before{
    width: 9rem;
}
.p-products{
    color: #2C2D3C;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}
.figure-products{
    position: relative;
}
.p-hover-products{
    height: 97px;
    width: 236px;
    background-color: #EBB970;
    position: absolute;
    bottom: 0px;
    left:1.3rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    padding-top: 2rem;
    display: none;
}

.figure-products:hover .p-hover-products{
    display: block;
}

/*products  end*/
/*contact start*/

.contact-title{
    color: #2C2D3C;
    font-weight: bold;
    letter-spacing: 1.06px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;

}
.div-contact{
    position: relative;
    margin-bottom: 8rem;
}
section.contact .div-contact .contact-title:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EBB970;
    transition: all 0.5s linear;
    position: absolute;
    top:6rem;
    left: 46%;
}
section.contact .div-contact .contact-title.active:before,
section.contact .div-contact .contact-title:hover:before{
    width: 9rem;
}

.form-element{
    height: 4.5rem;
    width: 26.2rem;
    border: 1px solid #2C2D3C;
    opacity: 0.36;
}
.text-element{
    height: 19.2rem;
    width: 55.4rem;
    border: 1px solid #2C2D3C;
    opacity: 0.36;
    margin: 3rem 0;
}
.link-button{
    height: 5rem;
    width: 13.9rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    letter-spacing: 0.82px;
    line-height: 2.6rem;
    text-align: center;
}
.contact-data{
    display:block;
    color: #2C2D3C;
    font-size: 1.6rem;
    letter-spacing: 0.82px;
    line-height: 2.6rem;
    padding: 0rem 0rem 2rem 7rem ;
}
/*contact end*/
/*footer*/
footer{
    background-color: #EBB970;
    padding: 18px 0 23px;
}

.social a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    color:#2C2D3C;
    text-align: center;
    font-size: 1.4rem;
    transition:all 0.5s linear;
}

.social a:hover{
  /*transform: rotate(360deg);*/  
  /*transform: translateY(-5px);*/
  transform: scale(1.3) rotate(360deg);
}
/*footer end*/